// Color preferences
$primaryColor: #2f2d2e;
$secondaryColor: #da2c38;
$shadowColor: #747572;
$lightColor: #fffffc;
$outlineColor: #8b94a3;

// Breakpoints for media queries
// 1em = 16px
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
